<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Cantidad</th>
              <th>Tipo</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items | ordenIngresoEgreso">
              <td>{{item.descripcion}}</td>
              <td>{{item.cantidad}}</td>
              <td>
                <span class="font-weight-bold" [ngClass]="{'text-success': item.tipo, 'text-danger': !item.tipo}">
                  {{item.tipo ? 'Ingreso' : 'Gasto'}}
                </span>
              </td>
              <td>
                <button (click)="borrarItem(item.uid)" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash fa-sm"></i>
                  Borrar
                </button>
              </td>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>
  </div>
</div>
  