<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Añadir {{ tipo ? 'Ingreso' : 'Gasto'}}</h4>
        <p class="card-description">
          Especifique la cantidad y el tipo
        </p>

        <form (ngSubmit)="crearIE()" [formGroup]="form">            
          <div class="form-group">
            <label>Descripción</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="Descripción"
                   formControlName="descripcion"
                   name="descripcion">
          </div>

          <div class="form-group">
            <label>Cantidad</label>
            <input type="number" 
                    class="form-control" 
                    placeholder="0"
                    formControlName="cantidad"
                    min="1"
                    name="monto">
            <p>La cantidad debe ser positiva.</p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br>
            <button (click)="tipo = !tipo" type="button" *ngIf="!tipo" class="btn btn-danger btn-block">Gasto</button>
            <button (click)="tipo = !tipo" type="button" *ngIf="tipo" class="btn btn-warning btn-block">Ingreso</button>
          </div>

          <hr>
          <button *ngIf="!cargando" type="submit" [disabled]="form.invalid" class="btn btn-success mr-2">
            <i class="fa fa-save"></i>
            Agregar
          </button>
          <button *ngIf="cargando" disabled class="btn btn-success mr-2">
            <i class="fa fa-spin fa-sync"></i>
            Espere por favor...
          </button> 
         
          <button type="reset" class="btn btn-light">Cancelar</button>

        </form>
      </div>
    </div>
  </div>
</div>
          
